extends layout

block content
	#page(data-role='page')
		div#temp
			|0
		span(style="margin-left: 20px;margin-right: 20px;")
			select#led(name='led', data-role='slider')
				option(value='off') Off
				option(value='on') On	
		