extends layout

block content
	#page(data-role='page')
		div#temp.tempBlock
			|0
		span(style="margin-left: 12%")
			select#led(name='led', data-role='slider')
				option(value='off') Off
				option(value='on') On	
		